.result {
  height: 60px;
  background-color: rgb(147, 104, 208);
  width: 100%;
}

.result p {
  font-size: 40px;
  margin: 5px;
  color: white;

}

.calculator-body {
  max-width: 400px;
  margin: auto;
}

.button {
  display: block;
  background-color: rgb(187, 187, 187);
}

button {
  width: 25%;
  height: 60px;
  font-size: 30px;
  background-color: rgb(135, 135, 255);
}
